@model IEnumerable<Cliver.ProductOffice.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<table class="table table-condensed table-bordered text-center config" style="width:100%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    init_table(false, 0, "New", "Details", "Edit", "Delete", "@Request.Path", [0]);
</script>
