@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Settings <b>@ViewBag.Scope::@ViewBag.Key</b></h4>
    <hr />
    <textarea readonly name="settings" style="resize:both;overflow:auto;height:200px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;">@ViewBag.Value</textarea>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <input type="hidden" value="@ViewBag.Scope" name="scope" />
    <input type="hidden" value="@ViewBag.Key" name="key" />
        
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
        </div>
    }
</div>
