@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <input type="hidden" value="@ViewBag.Scope" name="scope" />
    <input type="hidden" value="@ViewBag.Key" name="key" />
 <h4>Settings <b>@ViewBag.Scope::@ViewBag.Key</b></h4>    <hr />

    <textarea name="value" style="resize:both;overflow:auto;height:200px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;">@ViewBag.Value</textarea>

    <p>
        <input type="submit" value="Save" />
    </p>
}