@model Cliver.ProductOffice.Models.ProductIdentifierData

@{
    ViewBag.Title = "Edit2";
}

<h2>Edit2</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <input type="hidden" value="@ViewBag.Company1IdCompany2Id" name="c1_i_c2_i" />
    
    @:Mapped Categories:<b>@ViewBag.Company1Name<text> <-> </text>@ViewBag.Company2Name</b>
    <textarea name="mapped_categories" style="resize:both;overflow:auto;height:200px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;">@ViewBag.MappedCategories</textarea>

    <p>
        <input type="submit" value="Save" />
    </p>
}
