@model Cliver.ProductOffice.Models.ProductIdentifierData

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <input type="hidden" value="@ViewBag.CompanyId" name="company_id" />
    
    <b>Synonyms:</b>
    <textarea name="synonyms" style="resize:both;overflow:auto;height:200px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;">@ViewBag.Synonyms</textarea>

    <br />
    <b>Word Weights:</b>
    <textarea name="word_weights" style="resize:both;overflow:auto;height:200px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;">@ViewBag.WordWeights</textarea>

    <br />
    <b>Ignored Words:</b>
    <textarea name="ignored_words" style="resize:both;overflow:auto;height:200px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;">@ViewBag.IgnoredWords</textarea>

    <p>
        <input type="submit" value="Save" />
    </p>
}