@{
    ViewBag.Title = "Index";
}

<h2>Product Linker Configuration</h2>
<br />
Last autotraining date: @ViewBag.SelfTrainingDate  
<a href="#" onclick="javascript: perform_self_training();" class="button">Perform AutoTraining</a> (may take long time...)
<br /><br />
<script>
    function perform_self_training(){ 
        var e = show_dialog({ 
            content_div_id: "ExecutionContent",
            dialog: {
                title: "Self Training...",
                buttons: {
                    Close: function () {
                        location.reload();
                    },
                }
            },
        });
        $.ajax({
            type: 'POST',
            url: "@Url.Action("PerformSelfTraining")",
            data: {
                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
            },
            success: function () {
                $("#ExecutionContent").html("<h2>Done!</h2>");
            }
        });
    }
</script>

<div id="ExecutionContent" style="display:none;width:200px;height:150px;">Do not close this window unless you want to break execution!...
    <img src="/Images/ajax-loader.gif" style="display:block;margin:auto;position:relative;top:50%;transform:translateY(-50%);"></div>

Initial settings:
<a href="#" onclick="javascript: edit_default('EditDefaultSynonyms');" class="button">Sysnonyms</a>
<a href="#" onclick="javascript: edit_default('EditDefaultIgnoredWords');" class="button">Ignored Words</a>
<script>
    function edit_default(action) {
        var e = table1.definition.show_row_editor("@Request.Path/" + action, "Save", function () { });
    }
</script>

<br /><br />

Company related settings:
<table class="my">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Company
            </th>
            <th>
                Last Analysis Date
            </th>
        </tr>
    </thead>

</table>
<script type="text/javascript">
    var table1 = init_table({
        server: {
            request_path: "@Request.Path",
        },
        menu: {
            top: false,
            left: {
                ignored_words: {
                    text: "Ignored Words",
                    onclick: function () {
                        table1.definition.show_row_editor("@Request.Path/EditIgnoredWords?id=" + table1.api().row('.selected').data()[0], "Save", function () { });
                    }
                },
                word_weights: {
                    text: "Word Weights",
                    onclick: function () {
                        table1.definition.show_row_editor("@Request.Path/EditWordWeights?id=" + table1.api().row('.selected').data()[0], "Save", function () { });
                    }
                },
                synonyms: {
                    text: "Synonyms",
                    onclick: function () {
                        table1.definition.show_row_editor("@Request.Path/EditSynonyms?id=" + table1.api().row('.selected').data()[0], "Save", function () { });
                    }
                },
                delete: false,
                edit: false,
                details: false,
            },
            right: {
                analysis: {
                    text: "Perform Analysis",
                    onclick: function () {
                        var e = show_dialog({
                            content_div_id: "ExecutionContent",
                            dialog: {
                                title: "Data Analysing...",
                                buttons: {
                                    Close: function () {
                                        e.close();
                                        table1.api().draw(false);
                                    },
                                }
                            },
                        });
                        $.ajax({
                            type: 'POST',
                            url: "@Url.Action("PerformDataAnalysis")",
                            data: {
                                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                company_id: table1.api().row('.selected').data()[0],
                            },
                            success: function (data) {
                                $("#ExecutionContent").html("<h2>Done!</h2>");
                            }
                        });
                    }
                },
            },
        },
    });
</script>

<br /><br />
Company-to-company related settings:
<table class="my">
    <thead>
        <tr>
            <th>
                C1IdC2Id
            </th>
            @foreach (Cliver.Fhr.ProductOffice.Models.Company c in ViewBag.Companies)
            {
                <th>
                    @c.Name
                </th>
            }
        </tr>
    </thead>

</table>
<script type="text/javascript">
    var table2 = init_table({
        server: {
            request_path: "@Request.Path",
            actions_prefix: "2",
        },
        menu: {
            top: false,
            left: {
                delete: false,
                edit: true,
                details: false,
            },
        }
    });

</script>