@{
    ViewBag.Title = "Index";
}

<h2>Product Linker Configuration</h2>
<br />
Last autotraining date: @ViewBag.SelfTrainingDate  
<a href="#" onclick="javascript: perform_self_training();" class="button">Perform AutoTraining</a> (may take long time...)
<br /><br />
<script>
    function perform_self_training(){ 
        var e = show_ajax_modal_box("Self Training", {Close:function(){location.reload();}}, "SelfTrainingContent");
        var data = {};
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        e.getContentByAjax(
            {
                data: data,
                url: "@Url.Action("PerformSelfTraining")"
            },
            function () {
                $("#SelfTrainingContent").html("<h2>Done!</h2>");
            }
        );
    }
</script>

<div id="SelfTrainingContent" style="display:none;width:200px;height:150px;">If you do not want to break execution, do not close this window...</div>

<table>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Company
            </th>
        </tr>
    </thead>

</table>
<script type="text/javascript">
    var table1 = init_table(true, 0, null, null, "Edit", null, "@Request.Path", [0]);
</script>
<br /><br />
<table>
    <thead>
        <tr>
            <th>
                C1IdC2Id
            </th>
            @foreach (Cliver.ProductOffice.Models.Company c in ViewBag.Companies)
            {
                <th>
                    @c.Name
                </th>
            }
        </tr>
    </thead>

</table>
<script type="text/javascript">
    var table2 = init_table(true, 0, null, null, "Edit", null, "@Request.Path", [0], "2");

</script>