@model IEnumerable<Cliver.ProductOffice.Models.ImportMap>

@{
    ViewBag.Title = "Index";
}

<h2>Import Maps</h2>

<table class="table table-condensed table-bordered text-center config" style="width:100%;">
    <thead>
        <tr class="config-before-th"><td colspan="5">values</td><td colspan="6">column indexes in importing file</td></tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkipFirstRow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_CompanyProductIdI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_NameI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_SkuI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_PriceI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_DescriptionI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_CategoryI)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkipFirstRow)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_CompanyProductIdI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_NameI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_SkuI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_PriceI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_DescriptionI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_CategoryI)
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    init_table(false, 0, "New", "Details", "Edit", "Delete", "@Request.Path", [0]);
</script>
