@{
    ViewBag.Title = "Edit";
}

<h2>Manage Linked Products</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table id="LinkedProductsTable" class="ProductLink_table">

        <thead>
            <tr field="buttons">
                <td></td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td>
                        <a class="bFind" href="#" onclick="javascript: show_ProductMatchesDlg(@c.Id);">Find</a>
                        <script>
                            function show_ProductMatchesDlg(company2_id){
                                if(!ProductMatchesDlg){
                                    ProductMatchesDlg = show_ajax_modal_box(
                                        "Product Matches", 
                                        {
                                            "Close":function(){
                                                ProductMatchesDlg.close();
                                            }
                                        },
                                        "ProductMatchesContent"
                                    );
                                }
                                else 
                                    ProductMatchesDlg.dialog("open");
                                
                                if(CurrentCompany2Id == company2_id)
                                    return;
                                
                                CurrentCompany2Id = company2_id;
                                $('#ProductMatchesList table').empty();
                                $("#Categories").empty();
                                $("#Keyword2s").val('');
                                $("#ProductCount").html('');
                                //$('#CategoryTreeViewContent').html('');
                                $("#CategoryTreeViewContent").jstree("destroy");
                                $("#Category2").val("");

                                get_next_product2_range(true);
                            }
                            var ProductMatchesDlg;
                        </script>
                        <a class="bRemove" href="#" onclick="javascript: remove_product_from_LinkedProducts(@c.Id);" style="display:none;">Remove</a>
                        <input type="hidden" value="" name="ProductId" />
                        <input type="hidden" value="" name="LinkId" />
                    </td>
                }
            </tr>

            <tr>
                <th field="CompanyName">
                    <b>Company:</b>
                </th>
                @foreach (var c in ViewBag.Companies)
                {
                    <th company_id="@c.Id">
                        <b>@c.Name</b>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr field="Name">
                <td>
                    <b>Name:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
            <tr field="ImageUrls_">
                <td>
                    <b>Images:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
            <tr field="Price">
                <td>
                    <b>Price:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
            <tr field="Sku">
                <td>
                    <b>Sku:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
            <tr field="Url_">
                <td>
                    <b>Url:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
            <tr field="ExternalId">
                <td>
                    <b>External Id:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
            <tr field="UpdateTime">
                <td>
                    <b>Up to Date:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
            <tr field="Description">
                <td>
                    <b>Description:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
            <tr field="Category">
                <td>
                    <b>Category:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
            <tr field="Source">
                <td>
                    <b>Source:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
            <tr field="Id">
                <td>
                    <b>Id:</b>
                </td>
                @foreach (var c in ViewBag.Companies)
                {
                    <td></td>
                }
            </tr>
        </tbody>
    </table>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div id="ProductMatchesContent" style="display:none;">
    Keyword: <input type="text" name="Keyword2s" id="Keyword2s" style="box-sizing:border-box;" /><br />
    <a href="#" onclick="javascript: show_CategoryTreeView();" style="">Category:</a> 
    <a class="button" href="#" onclick='javascript: $("#Category2").val("");' style="">X</a>
    <input type="text" id="Category2" name="Category2" style="box-sizing:border-box;width:600px;" readonly />
    <br />
    <link rel="stylesheet" href="https://static.jstree.com/3.2.1/assets/dist/themes/default/style.min.css" />
    <script src="https://static.jstree.com/3.2.1/assets/dist/jstree.min.js"></script>
    <script>
            function show_CategoryTreeView(){
                if(!CategoryTreeView){
                    CategoryTreeView = show_ajax_modal_box(
                        "Picking Category...",
                        {
                            "Close":function(){
                                CategoryTreeView.close();
                            }
                        },
                        "CategoryTreeViewContent"
                    );
                }
                else
                    CategoryTreeView.dialog("open");

                if($('#CategoryTreeViewContent').html())
                    return;

                CategoryTreeView.getContentByAjax(
                    {
                        type: 'GET',
                        data: {
                            "company_id": CurrentCompany2Id
                        },
                        url: "@Url.Action("GetCompanyCategories")"
                    },
                    function (category_tree) {
                        
                        function build_tree_view_from_tree(pn1, pn2_children)
                        {
                            for(var name in pn1){
                                var n2 = {text:name};
                                pn2_children.push(n2);
                                if(pn1[name])
                                {
                                    n2.children = [];
                                    build_tree_view_from_tree(pn1[name], n2.children);
                                }
                            }
                        }

                        var tree_view_json = [];
                        build_tree_view_from_tree(category_tree, tree_view_json);
                        
                        console.log(category_tree);
                        console.log(tree_view_json);

                        $('#CategoryTreeViewContent').jstree({
                            core : {
                                data : tree_view_json
                            }
                        });

                        $('#CategoryTreeViewContent').on('select_node.jstree', function (e, data) {
                            var path = $('#CategoryTreeViewContent').jstree(true).get_path(data.node, "@Html.Raw(ViewBag.CATEGORY_SEPARATOR)");
                            $("#Category2").val(path);
                            $('#CategoryTreeViewContent').jstree(true).toggle_node(data.node);
                            //CategoryTreeView.close();
                        })
                    }
                );
            }
        var CategoryTreeView;
    </script>

    <div id="CategoryTreeViewContent" style="display:none;"></div>
    @*<b><a href="#" onclick="javascript: $('#ProductMatchesList table').empty(); get_next_product2_range(true);">Refine</a></b>
        <hr />*@
    Range Size: <input type="text" name="RangeSize" id="RangeSize" style="box-sizing:border-box;width:50px;" value="50" maxlength="3" />
    @*Accumulate pages: <input type="checkbox" style="" checked
                                 onchange="javascript: if(checked) {$('#page_by_page_navigation').css('display', 'none'); $('#accumulate_pages_navigation').css('display', 'inline');} else {$('#page_by_page_navigation').css('display', 'inline'); $('#accumulate_pages_navigation').css({'display':'none'});}" />
        <div id="page_by_page_navigation" style="display:none;">
            <b><a class="_to_previous_product" title="Get products with higher match score" href="#" onclick="javascript: get_next_product2_range(false);">Prev</a></b>
            &nbsp;
            <b><a class="_to_next_product" title="Get products with lower match score" href="#" onclick="javascript: get_next_product2_range(true);">Next</a></b>
        </div>*@
    <div id="accumulate_pages_navigation" style="display:inline;">
        <b><a class="_to_next_product" title="Add products with lower match score" href="#" onclick="javascript: get_next_product2_range(true);">Get more</a></b>
    </div>
    Selected product count: <span id="ProductCount"></span>
    <hr />

    <div id="ProductMatchesList" style="overflow: auto;">
        <table style="word-wrap: break-word;"></table>
    </div>
</div>
<style>
.ProductMatch_selected{
    background-color:#cde;
}
</style>

    <script>
        $("#ProductMatchesList table").on('click', 'tr', function () {
            var row = $(this);
            row.parent().find('tr.ProductMatch_selected').removeClass('ProductMatch_selected');
            row.addClass('ProductMatch_selected');
        });

        var CurrentCompany2Id;

        function get_next_product2_range(forward) {
            var product1_ids = [];
            $("input[name='ProductId']").each(function () {
                product1_ids.push($(this).val());
            });
            
            ProductMatchesDlg.getContentByAjax(
                {
                    type: 'GET',
                    data: {
                        "product1_ids": product1_ids,
                        "company2_id": CurrentCompany2Id,
                        "keyword2s": $('#Keyword2s').val(),
                        "category2": $('#Category2').val(),
                        "range_size": $('#RangeSize').val(),
                        "forward": forward || forward == undefined ? true : false
                    },
                    url: "@Url.Action("GetNextProductLinks")"
                },
                function (data) {
                    if(data.Is_CurrentProductLinks_Changed)
                        $('#ProductMatchesList table').empty();
                    var product2_matches = data.Product2s;
                    $("#ProductCount").html(data.Product2sCount);
                    if (!product2_matches.length) {
                        if (forward)
                            show_message("End of list is reached.");
                        else
                            show_message("Start of list is reached.");
                        return;
                    }
                    for(var i in product2_matches){                    
                        for(var j in product2_matches[i]){
                            var product = product2_matches[i][j];
                            if(product.CompanyId != CurrentCompany2Id)
                                continue;
                            
                            ProductIds2LinkedProducts[product.Id] = product2_matches[i];

                            var image_urls = '';
                            for (var i in product.ImageUrls) {
                                image_urls += '<a href="' + product.ImageUrls[i] + '" target="_blank"><img src="' + product.ImageUrls[i] + '" style="height:50px; width:50px;" /></a>';
                            }

                            var name = '<a href="' + product.Url + '" target="_blank">' + product.Name + '</a>';
               
                            var label = "[" + product._Index + "] Score: " + Math.round(product._Score * 10000) + "/" + Math.round(product._CategoryScore * 10000) + "/" + Math.round(product._NameScore * 10000) + "/" + Math.round(product._SecondaryScore * 10000);
                        
                            var product_html = "<tr><td>" + image_urls + "</td><td>" + name + "</td><td>" + label + "</td><td><a href='#' onclick='javascript: add_product2s_to_LinkedProductsTable(ProductIds2LinkedProducts[" + product.Id + "]); ProductMatchesDlg.close();'>link</a></td></tr>";
                            var r = $(product_html);
                            r.attr("product_id", product.Id);
                            $('#ProductMatchesList table').append(r);
                        }
                    }
                    $("#ProductMatchesList").height($("#ProductMatchesContent").parent().height() - $("#ProductMatchesList").position().top);
                }
            );
        }
        var ProductIds2LinkedProducts = Array();
    </script>


<script>

    function remove_product_from_LinkedProducts(company_id) {
        var column_id = $('#LinkedProductsTable thead tr th[company_id=' + company_id + ']').index() + 1;
        var link_id = $('#LinkedProductsTable tr td:nth-child(' + column_id + ') input[name="LinkId"]').val();
      
        $('#LinkedProductsTable tr td:nth-child(' + column_id + ') input[name="ProductId"]').val('');
        $('#LinkedProductsTable tr td:nth-child(' + column_id + ') input[name="LinkId"]').val('');
        $('#LinkedProductsTable tbody tr td:nth-child(' + column_id + ')').text('');

        $('#LinkedProductsTable tr td').css('background-color', '#fff');
        
        //$('#LinkedProductsTable tr td:nth-child(' + column_id + ')').find(".bFind").show();
        $('#LinkedProductsTable tr td:nth-child(' + column_id + ')').find(".bRemove").hide();

        arrange_modal_window(ProductLinksTable.modalBox);
    }

    function mark_added_product2s(link_id) {
        var s = $('#LinkedProductsTable tbody tr:nth-child(1) td').each(function(){
            var column_id = $(this).index() + 1;
            var li = $('#LinkedProductsTable tr td:nth-child(' + column_id + ')').find("input[name='LinkId']").val();
            var color;
            if(li == link_id)
                color = '#cde';
            else
                color = '#fff';
            $('#LinkedProductsTable tbody tr td:nth-child(' + column_id + ')').css('background-color', color);
        });
    }

    function add_product_to_LinkedProductsTable(product) {
        var ius = '';
        for (var i in product.ImageUrls) {
            ius += '<a href="' + product.ImageUrls[i] + '" target="_blank"><img src="' + product.ImageUrls[i] + '" style="height:50px; width:50px;" /></a>';
        }
        product.ImageUrls_ = ius;

        product.Url_ = '<a href="' + product.Url + '" target="_blank">' + product.Url + '</a>';

        var column_id = $('#LinkedProductsTable thead tr').find('th[company_id=' + product.CompanyId + ']').index() + 1;
        $.each(product, function (name, value) {
            var row_id = $('#LinkedProductsTable tbody tr').filter(function () {
                return $(this).attr('field') == name;
            }).index() + 1;
            if (row_id > 0) {
                $('#LinkedProductsTable tbody tr:nth-child(' + row_id + ') td:nth-child(' + column_id + ')').html(value);
            }
        });
        $('#LinkedProductsTable tr td:nth-child(' + column_id + ')').find("input[name='ProductId']").val(product.Id);
        $('#LinkedProductsTable tr td:nth-child(' + column_id + ')').find("input[name='LinkId']").val(product.LinkId);
        
        //$('#LinkedProductsTable tr td:nth-child(' + column_id + ')').find(".bFind").hide();
        $('#LinkedProductsTable tr td:nth-child(' + column_id + ')').find(".bRemove").show();
    }

    function add_product2s_to_LinkedProductsTable(products){
        for(var i in products){
            add_product_to_LinkedProductsTable(products[i]);
        }
        mark_added_product2s(products[0].LinkId);
        arrange_modal_window(ProductLinksTable.modalBox);
    }

    var initial_products = @Html.Raw(ViewBag.LinkedProductsJson);
    $(document).ready(function () {
        add_product2s_to_LinkedProductsTable(initial_products, null);                
    });       
</script>