@model Cliver.ProductOffice.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <label class="control-label col-md-2">@Model.Name</label> 
    <hr />

    <label class="control-label col-md-2">Images:</label>
    @if (Model.ImageUrls != null)
    {
        foreach (string u in Model.ImageUrls.Split('\n'))
        {
            <a href="@u" target="_blank">
                <img src="@u" style="height:100px; width:100px;" />
            </a>
        }
    }
    
    <label class="control-label col-md-2">Company:</label>       @Model.Company.Name

    <label class="control-label col-md-2">Price:</label>       @{
        string price = (from r in Model.Prices orderby r.Time descending select (string)r.Currency.Symbol + r.Value.ToString()).FirstOrDefault();
    }
    @price

    <label class="control-label col-md-2">Sku:</label>            @Model.Sku

    <label class="control-label col-md-2">Url:</label>      @Html.DisplayFor(model => model.Url)

    <label class="control-label col-md-2">Source Id:</label> @Model.ExternalId

    <label class="control-label col-md-2">Up to Date:</label>        @Model.UpdateTime 
    
    <label class="control-label col-md-2">Created:</label>        @Model.CreateTime 
    
    <label class="control-label col-md-2">Modified:</label>        @Model.ModifyTime
    
    <label class="control-label col-md-2">Source Category:</label>        @Model.Category

    <label class="control-label col-md-2">Description:</label>            @Model.Description
     
    <label class="control-label col-md-2">Source:</label>        @Model.Source  

    <label class="control-label col-md-2">Id:</label>            @Model.Id  

    <label class="control-label col-md-2">Identity Id:</label>        @Model.LinkId

</div>
