@model IEnumerable<Cliver.ProductOffice.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>



<div id="GroupContent" style="display:none;" class="content-wrapper clear-fix">
    <a href="#" onclick="" class="button">Remove All</a>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateTime)
                </th>
                <th>
                    Image
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sku)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
            </tr>
        </thead>
    </table>
</div>

<script>
    var GroupTable;
    var GroupDlg;

    function add_raw_to_group(row) {
        if (!GroupDlg)
            GroupDlg = show_ajax_modal_box("Product Group", { Save: function () { } }, "GroupContent");
        else
            GroupDlg.dialog("open");
        if (!GroupTable) {
            GroupTable = init_table({
                server: {
                    request_path: "@Request.Path",
                },
                datatable: {
                    serverSide: false,
                    paging: false,
                   // info: false,
                },
                menu: {
                    top: false,
                    left: [
                        { default: "delete" },
                        { text: "Ungroup", onclick: function () { } }
                    ],
                    right: [
                    ]
                },
            });
        }

        //console.log("row");
        //console.log(row.find('td'));
        //var r = "<tr>";
        //row.find('td').each(function () { r += "<td>" + $(this).html() + "</td>"; });
        //r += "</tr>";
        //console.log(r);
        //GroupTable.find("tbody").append(r);

        r = ['1'];
        row.find('td').each(function () { r.push($(this).html()); });
        GroupTable.api().row.add(r).draw(false);
    }
</script>





    <div class="col-md-10">
        Filter by company: &nbsp; @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control", onchange = "javascript:select_in_products_table('CompanyId',$(this).val());" })
    </div>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
        </tr>
    </thead>

</table>
<script type="text/javascript">
    var products_table = init_table({
        server: {
            request_path: "@Request.Path",
        },
        menu: {
            top: [
                { text: "Start Grouping", onclick: function () { alert("2"); } }
            ],
            left: [
                { text: "Add", onclick: function () { add_raw_to_group(products_table.$('tr.selected')); } }
            ],
            right: [
                { default: "details" }
            ]
        },
    });
    //products_table.find('tbody').on('click', 'tr', function () { products_table.definition.on_row_clicked($(this)); });

    function select_in_products_table(field, pattern) {
        if (pattern > -1)
            products_table.api().columns(0).search(field + "=" + pattern);//it is how filter parameters are passed due to to bad manual!
        else
            products_table.api().columns(0).search(null);//it is how filter parameters are passed due to to bad manual!
        products_table.api().draw();
    }

</script>


