@model IEnumerable<Cliver.ProductOffice.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<div id="Group">

</div>
<script>
    function add_product_to_group(product_id) {
        alert(product_id);
        $("#Group").append("<div product_id='" + product_id + "'>test <a href='#' class='button' onlick='javascript: $(this).parent().remove();'>Remove</a><div>");
    }
</script>


    <div class="col-md-10">
        Filter by company: &nbsp; @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control", onchange = "javascript:select_in_products_table('CompanyId',$(this).val());" })
    </div>


<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th>
                @:Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                Group
            </th>
        </tr>
    </thead>

</table>
<script type="text/javascript">
    var products_table = init_table({
        server_side: true,
        id_column_id: 0,
        request_path: "@Request.Path",
        invisible_column_ids: [0],
        default_actions_prefix: null,
        menu: {
            above: [
            ],
            left: [
            ],
            right: [
                { text: "Details", onclick: "default_details" },
            ]
        }
    });

    function select_in_products_table(field, pattern) {
        if (pattern > -1)
            products_table.api().columns(0).search(field + "=" + pattern);//it is how filter parameters are passed due to to bad manual!
        else
            products_table.api().columns(0).search(null);//it is how filter parameters are passed due to to bad manual!
        products_table.api().draw();
    }

</script>
