@{
    ViewBag.Title = "Index";
}

<h2>SQL</h2>
<b style="color:red;">Be sure you understand what you do here!</b>
<br />
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <label>
        Database:&nbsp;
        <select name="Database">
            <option @(ViewBag.Database == "CliverCrawlerHost" ? "selected" : "")>CliverCrawlerHost</option>
            <option @(ViewBag.Database == "ProductOffice" ? "selected" : "")>ProductOffice</option>
        </select>
    </label>
    <br />

        <textarea name="Sql" style="resize:both;overflow:auto;width:100%;" rows="5">@ViewBag.Sql</textarea>

        <p>
            <input type="submit" value="Execute" />
        </p>
        }
        <script type="text/javascript">
        </script>
