@{
    ViewBag.Title = "Product Office";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/Images/Wind_rose2_256.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" /> 
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @*@Styles.Render("~/Content/DataTables/css/jquery.dataTables.css")*@
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">               
        @Styles.Render("~/Content/Home.css")
        @Scripts.Render("~/bundles/modernizr")
        
                     




    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.js")
    @*<script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@ 
        
        @*@Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")*@
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
        
        @Styles.Render("~/Content/jstree/default/style.min.css")
                @Scripts.Render("~/Scripts/jstree.js")
                @*@Styles.Render("~/Content/jstree/default/style.min.css")
                @Scripts.Render("~/bundles/jstree")*@




             
         @Scripts.Render("~/Scripts/home.js")
         @RenderSection("scripts", required: false)
        </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink((string)ViewBag.Title, "Index", "Home")</p>
                </div>
                <div class="float-right header">
                    <section id="login">
                        <span style="color:#eee; padding-right:20px; font-size:12px;">@DateTime.Now.ToString("dddd, dd, MMMM", CultureInfo.InvariantCulture)</span>
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
            <div class="content-wrapper"></div>
                <div class="content-wrapper">
                    <div class="float-right">
                    @if (Request.IsAuthenticated)
                    {
                        @Html.Partial("_Menu")
                    }
                    </div>

                </div>
</header>       
         @Html.Partial("_Notifications")
        <div id="body">
            <div class="content-wrapper clear-fix">
                @RenderBody()
            </div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">                    
                    @Html.Partial("_Copyright")
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jqueryval")
    </body>
</html>
